.familyfont {
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: -3px;
  font-size: 50px;
  font-weight: lighter;
  line-height: 0.85;
}
.familyfontdiff {
  font-family: Helvetica, Arial, sans-serif;
}
.bold {
  font-weight: bold;
}

.flexCenter {
  flex-direction: column;
  margin: auto;
}
/* .flexCenterChild {
  width: 100%;
  display: block;

  background-color: brown;
} */
.shopFontFamily {
  color: red;
}
.forumfamily {
  font-family: "Gotham", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}
.underline {
  text-decoration: underline;
  /* background-color: rgb(179, 185, 179); */
}
/* .shopBar {
  font-size: 100px;
} */
